<link rel="stylesheet" href="./five/Home/Home.css">

<div class="all">

<ul class="title">
    <!--<li class="leftTitle clearfix">光华彩印库存管理系统</li>-->
    <li class="rightTitle clearfix">欢迎您！{{username}}</li>
    <li class="rightTitle clearfix" ng-click="reset()">注销</li>
</ul>



    <!--质量标准-------------------------------------------------------------------------->

    <div class="applyTickmask" ng-show="qualityFormShow">
        <div class="aptkMaskBox" ng-click="closemask()">
            <div class="aptkMaskTitle">质量标准</div>
            <div>
            <span class="string">
                客户名称：
            </span>

            <span class="string">
                产品名称：
            </span >

            <span class="string">
                编码：
            </span>
            </div>


               <span class="string">
                印刷方式：<select >
                   <option value="里印">里印</option>
                   <option value="表印">表印</option>
               </select>
            </span >

            <span class="string">
                材料性质：
            </span>

            <span class="string">
                横向收缩率：
            </span>

            <span class="string">
                纵向收缩率：
            </span>

            <div >
                <div class="Formtitle">印版资料:</div>
                <span class="string">版号:12412</span>
                <span class="string">版周:124124</span>
                <span class="string">印刷尺寸</span>
                <span class="string">拼数</span>
                <span class="string">版辊数</span>
                <span class="string">颜色</span>
                <span class="string">备注</span>
            </div>

            <div >
                <div class="Formtitle"> 印刷工序:</div>
                <span class="string">印刷方向</span>
                <span class="string">材料规格</span>
                <span class="string">印刷数量</span>
                <span class="string">印刷重量</span>
                <span class="string">印刷数量（米）</span>
                <span class="string">损耗   %</span>
                <span class="string">备注</span>
            </div>


            <div >
                <div class="Formtitle"> 后工序:</div>
                <div class="string">品检</div>
                <div>
                    <div class="string" >分条</div>
                    <span class="string">分切尺寸</span>
                    <span class="string">透明边留位</span>
                </div>

                <div>
                    <div class="string">合掌</div>
                    <span class="string">合掌尺寸</span>
                    <span class="string">胶水位置</span>
                    <span class="string">折位</span>
                    <span class="string">撕口线规格</span>
                    <span class="string">撕口线位置</span>
                </div>

                <div>
                    <div class="heavy">重卷</div>
                    <select >成品型式
                        <option value="切片">切片</option>
                        <option value="卷装">卷装</option>
                        <option value="大纸芯12.5CM">大纸芯12.5CM</option>
                        <option value="大纸芯15CM">大纸芯15CM</option>
                        <option value="小纸芯">大纸芯15CM</option>

                    </select>
                    <span class="string">胶水位置</span>
                    <span class="string">折位</span>
                    <span class="string">撕口线规格</span>
                    <span class="string">撕口线位置</span>
                </div>
                <span class="string">印刷数量</span>
            </div>

            <div>
                <div class="string">封切</div>
                <span class="string">切高</span>
                <span class="string">装箱方式</span>
                <span class="string">纸箱规格</span>
                <span class="string">纸箱规格</span>
            </div>

            <div class="string">
                备注：
            </div>

            <div>
                <div class="heavy">包装</div>
                <select>成品型式
                    <option value="新箱">新箱</option>
                    <option value="箱内外膜包装">箱内外膜包装</option>
                    <option value="箱外加井字打包带">箱外加井字打包带</option>
                    <option value="旧箱">旧箱</option>
                    <option value="其它">其它</option>

                </select>
            </div>

            <div class="string">
                备注：
            </div>


            <div class="qualityFormbutton">
                <span class="search point" ng-click="qualityFormShow=false">确定</span>
                <span class="search point" ng-click="qualityFormShow=false">取消</span>
            </div>

        </div>




    </div>








<!--------------------------新增订单---------------------------------------->

    <div class="applyTickmask" ng-show="newOrder">
        <div class="aptkMaskBox" >
            <div class="aptkMaskTitle">新增订单</div>
            <div>
            <span class="string">
                订单日期：<input type="date"/>
            </span>

            <span class="string">
                公司名称：<input type="text"/>
            </span >

            <span class="string">
                公司代码：<input type="text"/>
            </span>
            </div>




            <span class="string">
                产品编码：<input type="text"/>
            </span>

            <span class="string">
                产品名称：<input type="text"/>
            </span>

            <span class="string">
                订单数量：<input type="number"/>
            </span>

               <span class="string">
                库存数量：<input type="number"/>
            </span>

             <span class="string">
                所需生产量：<input type="text"/>
            </span>



            <div class="Formtitle">生产进度</div>

             <span class="string">
                印刷：<input type="text"/>
            </span>


             <span class="string">
                开料：<input type="text"/>
            </span>

             <span class="string">
                合掌：<input type="text"/>
            </span>

             <span class="string">
                切标：<input type="text"/>
            </span>

             <span class="string">
                定型：<input type="text"/>
            </span>

              <span class="string">
                复卷：<input type="text"/>
            </span>

            <div class="Formtitle">运输方式</div>

  <span class="string">
                送货：<input type="text"/>
            </span>
              <span class="string">
                物流：<input type="text"/>
            </span>
              <span class="string">
                物流名称：<input type="text"/>
            </span>
               <span class="string">
                单号：<input type="text"/>
            </span>









            <div class="qualityFormbutton">
                <span class="search " ng-click="newOrder=false">确定</span>
                <span class="search" ng-click="newOrder=false">取消</span>
            </div>

        </div>
    </div>


    <!-- 编辑订单====================================================================-->
    <div class="applyTickmask" ng-show="EditOrder">
        <div class="aptkMaskBox" >
            <div class="aptkMaskTitle">编辑订单订单</div>
            <div>
            <span class="string">
                订单日期：
            </span>

            <span class="string">
                公司名称：
            </span >

            <span class="string">
                公司代码：
            </span>
            </div>




            <span class="string">
                产品编码：
            </span>

            <span class="string">
                产品名称：
            </span>

            <span class="string">
                订单数量：
            </span>

               <span class="string">
                库存数量：
            </span>

             <span class="string">
                所需生产量：
            </span>



            <div class="Formtitle">生产进度</div>

             <span class="string">
                印刷：
            </span>


             <span class="string">
                开料：
            </span>

             <span class="string">
                合掌：
            </span>

             <span class="string">
                切标：
            </span>

             <span class="string">
                定型：
            </span>

              <span class="string">
                复卷：
            </span>

            <div class="Formtitle">运输方式</div>

  <span class="string">
                送货：
            </span>
              <span class="string">
                物流：
            </span>
              <span class="string">
                物流名称：
            </span>
               <span class="string">
                单号：
            </span>









            <div class="qualityFormbutton">
                <span class="search " ng-click="EditOrder=false">确定</span>
                <span class="search" ng-click="EditOrder=false">取消</span>
            </div>

        </div>
    </div>







<ul class="section clearfix">
    <li ng-click="jump('Home')">

        <div class="orderSearch"></div>
        订单查询
        <div class="urder"></div>
    </li>
    <li ng-click="jump('warehouse')">
        <div class="warehouse"></div>
        库存查询</li>
    <li ng-click="jump('qualityForm')">
        <div class="qualityFormIcon"></div>

        质量标准</li>
    <li ng-click="jump('system')">
        <div class="role"></div>
        系统管理</li>
</ul>

<div class="details">
    <div class="up searchSuject">
        <span>类别</span>
    <div class="options">
        <select  class="selectOption" ng-init="selectedName = selectOption[0]" ng-model="selectedName" ng-options="x for x in selectOption">
        </select>
    </div>

        <span >
            <input type="text" placeholder="产品编号"  ng-show="selectedName=='产品编号'"/>
            <input type="text" placeholder="产品名称" ng-show="selectedName=='产品名称'"/>
            <input type="text" placeholder="客户名称" ng-show="selectedName=='客户名称'"/>
            <input type="date" placeholder="出货日期" ng-show="selectedName=='出货日期'"/>
        </span>

    <!--<div class="options">-->
        <!--<input class="selectOption" type="date"/>-->
    <!--</div>-->

    <div class="search point" ng-click="search('搜索')">搜索</div>
        <div class="search point" ng-click="newOrder=true">添加</div>
    </div>


    <div class="down">
        <table class="sujectTitle">
            <tr>
            <td class="sujectOption">订单日期</td>
            <td class="sujectOption">交货日期</td>
            <td class="sujectOption">公司名称</td>
            <td class="sujectOption">公司代码</td>
            <td class="sujectOption">产品编码</td>
            <td class="sujectOption">产品名称</td>
            <td class="sujectOption">订单数量</td>
            <td class="sujectOption">库存数量</td>
            <td class="sujectOption">所需生产量</td>
            <td class="sujectOption">印刷</td>
            <td class="sujectOption">开料</td>
            <td class="sujectOption">合掌</td>
            <td class="sujectOption">切标</td>
                <td class="sujectOption">定型</td>
                <td class="sujectOption">复卷</td>
                <td class="sujectOption">送货</td>
                <td class="sujectOption">物流</td>
                <td class="sujectOption">物流名称</td>
                <td class="sujectOption">单号</td>
                <td class="sujectOption">编辑</td>
            </tr>


            <tr ng-repeat="orderList in orderDatas track by $index">
                <td class="sujectOption sujectOptionng">{{orderList.orderTime}}</td>
                <td class="sujectOption sujectOptionng" >{{orderList.outTime}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.client}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.num}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.ordernum}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.stock}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.orderCount}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.orderState}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.quality}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.atom}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.phone}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.time}}</td>
                <td class="sujectOption sujectOptionng" ng-click="takequalityFormShow($index)"><span>明细</span></td>
                <td class="sujectOption sujectOptionng">{{orderList.time}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.time}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.time}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.time}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.time}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.time}}</td>
                <td class="sujectOption sujectOptionng"> <div class="orderEditButton point" ng-click="edit($index)"></div>   <div class="orderDeleteButton point"></div></td>
            </tr>
        </table>

    </div>

    <div class="bottom">
        <div>首页</div>
        <div>尾页</div>
        <div class="page">
            <a href=""><span ng-click="searchPage(count-2)" class="pageCount">{{count-2}}</span></a><!--页数按钮-->
            <a href=""><span class="pageCount">{{count-1}}</span></a>
            <span class="pageCount">{{count}}</span>
            <span class="pageCount">{{count+1}}</span>
            <span class="pageCount">{{count+2}}</span>
        </div>
    </div>
</div>




</div>