<link rel="stylesheet" href="./five/Login/Login.css">




    <div class="login">
        <div class="buildding clearfix" ></div>

       <div class="right">
           <img class="logo" src="./five/img/logo.png" />
        <div class="loginBox">
        <div class="loginName"><input type="text" placeholder="请输入用户名" ng-model="login_phone" maxlength="5"></div>
        <div class="loginPsw">
            <input  placeholder="请输入6位密码" ng-model="login_pw">
        </div>
        <div class="loginBtn loginblue" ng-click="login()">登录</div>
    </div></div>
</div>