body{
    background: #0EA7D7;
}

.title{width: 80%;padding-left: 1rem;padding-top: 0.5rem;color: #fff;height: 1rem;line-height: 0.6rem;}

.leftTitle{

    font-size: 0.4rem;
    text-align: center;
    float: left;}

.rightTitle{
    float: right;
    margin-right: 0.5rem;
}

.Formtitle{
    padding-left: 0.5rem;
}

.details{
    background: #E9F3F9;
}

table{
    margin: 0.3rem 0.4rem;
}


.search{
    display: inline-block;
    background: #0998CE;
    color: #fff;
    width: 1rem;
    text-align: center;
    border-radius: 0.1rem;
    height: 0.4rem;
    line-height: 0.4rem;
}

.sujectOption{
    background: #FBEDCF;
    border: 0.03rem solid #cacaca;
    width: 4rem;
    height: 0.5rem;
    text-align: center;
}

.contentForm{
    width: 40%;
    min-width: 4rem;
    overflow: auto;
}

.roleForm{
    border-radius: 0.1rem;
    width: 30%;
    min-width: 4rem;
    background: #fff;
    margin: 10% 32%;
    height: 4rem;
    text-align: center;
}

.controlUser{
    height: 1.7rem;
    line-height: 2rem;
}


.roleFormbutton{
    text-align: center;
    padding: 0.2rem;
    border-top: 0.01rem solid #cacaca;
}

.roleFormbutton span{
    margin-right: 0.5rem;
}


.tipsbutton span{
    text-align: center;
    border-top: 0.01rem solid #cacaca;
    width: 1.2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    margin: 0 0.3rem;

}


.down{
    width: 100%;
    overflow: auto;
}

.heavy{
    width: 1rem;
    display: inline-block;
    padding-left: 0.5rem;
}

.string{
    width: 3rem;
    height: 0.7rem;
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

.bottom div{
    display: inline-block;
}
.bottom input{
    width: 0.5rem;
}

.bottom{
    text-align: right;
}

.up{
    padding: 0.2rem 1rem;
}

.selectOption{
    height: 0.4rem;
}

.searchSuject{
    margin-top: 0.1rem;
}

.point{
    cursor:pointer;
}

.options{
    display: inline-block;
    height: 0.4rem;
}

.pageCount{
    width: 0.2rem;
}

.under{
    width: 50%;
    height: 0.05rem;
    margin-top: 0.1rem;
    background: #fff;
}

.section {
    color: #fff;
    height: 1.1rem;
    background: #0489BB;
    padding-left: 1rem;
    font-size: 0.25rem;
}

.orderSearch{
    background: url(../../libs/img/order.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}

.qualityFormIcon{
    background: url(../../libs/img/qualityFormIcon.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}

.DeleteButton{
    background: url(../../libs/img/Delete.png) no-repeat center;
    height: 0.6rem;
    width: 0.5rem;
    display: inline-block;
    background-size: 0.3rem;
}

.aptkMaskTitle{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.4rem;
    color: #0998CE;
    text-align: center;
    border-bottom: 1px solid #ECEFF3;
}
.aptkMaskMain{
    padding: 0.5rem 1rem;
}

.EditButton{
    background: url(../../libs/img/Edit.png) no-repeat center;
    display: inline-block;
    height: 0.6rem;
    width: 0.5rem;
    background-size: 0.3rem;
}

.role{
    background: url(../../libs/img/User.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}

.warehouse{
    background: url(../../libs/img/warehouse.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}


.section li{
    float: left;
    width: 2rem;
    cursor:pointer;
}

.sujectOptionng{
    background: #fff;
}


.applyTickmask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.5);
}



