<link rel="stylesheet" href="./five/warehouse/warehouse.css">

<ul class="title">
    <li class="leftTitle clearfix">光华彩印库存管理系统</li>
    <li class="rightTitle clearfix">欢迎您！{{username}}</li>
    <li class="rightTitle clearfix" ng-click="reset()">注销</li></ul>


<ul class="section clearfix">
    <li ng-click="jump('Order')">

        <div class="orderSearch"></div>
        订单查询
    </li>
    <li ng-click="jump('warehouse')">
        <div class="warehouse"></div>
        库存查询
        <div class="urder"></div>
    </li>
    <li ng-click="jump('qualityForm')">
        <div class="qualityFormIcon"></div>

        质量标准</li>
    <li ng-click="jump('system')">
        <div class="role"></div>
        系统管理</li>
</ul>

<div class="details" ng-show="ProductTab">
    <div class="up searchSuject">
        <div class="options">
            <select  class="selectOption" ng-init="selectedName = selectOption1[0]" ng-model="selectedName" ng-options="x for x in selectOption1">
            </select>
        </div>

        <span >
            <!--<input type="text" placeholder="全部"  ng-show="selectedName=='全部'" ng-model="selectValue"/>-->
            <input type="text" placeholder="编码" ng-show="selectedName=='编码'" ng-model="selectValue"/>
            <input type="text" placeholder="材料名称" ng-show="selectedName=='材料名称'" ng-model="selectValue"/>
            <input type="text" placeholder="颜色" ng-show="selectedName=='颜色'" ng-model="selectValue"/>
            <input type="text" placeholder="材料ID" ng-show="selectedName=='材料ID'" ng-model="selectValue"/>
        </span>

    <div class="search point" ng-click="searchOnKey(selectValue)">搜索</div>
        <div class="search point" ng-click="showBox(1)" ng-show="username=='超级管理员'">添加</div>


    </div>


    <div class="down">
        <ul >
            <li ng-class="getClass(1)" ng-click="showTab(1)">纸箱库存</li>
            <li ng-class="getClass(2)" ng-click="showTab(2)">原材料库存</li>
            <li ng-class="getClass(3)" ng-click="showTab(3)">成品库存</li>
        </ul>

        <table   class="sujectTitle">
            <tr>
                <td class="sujectOption" ng-click="sort='id';desc=!desc">编 号</td>
                <td class="sujectOption">材料名称</td>
                <td class="sujectOption">颜色</td>
                <td class="sujectOption">箱数</td>
                <td class="sujectOption" ng-click="sort='stocksum';desc=!desc">库存总数量</td>
                <td class="sujectOption" ng-click="sort='stockid';desc=!desc">材料ID</td>
                <td class="sujectOption" ng-click="sort='boxcount';desc=!desc">装箱数量</td>
                <td class="sujectOption" ng-click="sort='remain';desc=!desc">尾 数</td>
                <td class="sujectOption"  ng-click="sort='price';desc=!desc">单价</td>
                <td class="sujectOption" ng-click="sort='amount;desc=!desc'">金额</td>
                <td class="sujectOption" ng-show="username=='超级管理员'">编辑</td>
            </tr>


            <tr ng-repeat="companyList in companyData | orderBy:sort:desc">
                <td class="sujectOption sujectOptionng">{{companyList.id}}</td>
                <td class="sujectOption sujectOptionng" >{{companyList.stockname}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.color}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.count}}</td>
                <td class="sujectOption sujectOptionng">
                <div class="ediSum">
                    <span ng-click="addProductSum($index)" class="addButton clearfix"/>
                    <input class="sum "  type="text" ng-model="companyList.stocksum" readonly/>
                    <span ng-click="cutProductSum($index)" class="cutButton clearfix"/>
                </div>

                </td>
                <td class="sujectOption sujectOptionng">{{companyList.stockid}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.boxcount}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.remain}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.price}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.amount}}</td>
                <td class="sujectOption sujectOptionng"  ng-show="username=='超级管理员'"><div ng-click="edit(companyList,1)" class="EditButton"/>   <div ng-click="dele(1,companyList)" class="DeleteButton"/></td>

            </tr>
        </table>





    </div>
    <div class="bottom">
        <div class="bottom">
            <div>当前是第{{p_current}}页</div>
            <a href=""><div ng-click="p_index(1)">首页</div></a>
            <a href=""><div ng-click="backPage()">上页</div></a>
            <a href=""><div ng-click="nextPage()">下页</div></a>
      <!--      <div class="page">
                <a href=""><span ng-repeat="page in pages" ng-click="load_page($index+1)" class="pageCount">
                {{page}}</span></a>&lt;!&ndash;页数按钮&ndash;&gt;
                &lt;!&ndash;<span class="pageCount" ng-click="pagesearch($index)">{{page}}</span>&ndash;&gt;
            </div>-->
            <a href=""><div ng-click="p_last(p_all_page)">尾页</div></a>
            <div>共：{{p_all_page}} 页</div>
            <div>共：{{totalCount}} 条</div>
        </div>
    </div>
</div>



<!--//=======================-->
    <div class="applyTickmask" ng-show="BoxCount">
    <div class="goodskMaskBox" ng-show="BoxCount">
        <div class="aptkMaskTitle">新增纸箱库存</div>

        <p>
                 <span class="close" ng-click="BoxCount=false"/>

        </p>
        <form name="newbox" novalidate>
                   <span class="string">
                纸箱规格：(必填)</p><input type="text" name="boxsize" ng-model="newPaperBox.boxsize" required/>
           <div style="color:red" ng-show="newbox.boxsize.$dirty && newbox.boxsize.$invalid">
               <span  class="errorTip clearfix" ng-show="newbox.boxsize.$error.required">纸箱规格是必填的。</span>
           </div>

            </span>

            <span class="string">
                <!--纸箱-->数量：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');"  ng-model="newPaperBox.count"/>
            </span>

               <span class="string">
                         件数：(必填)<input name="packages " onkeyup="value=value.replace(/[^\d]/g,'');" type="number" ng-model="newPaperBox.packages" required/>
                 <span style="color:red" ng-show="newbox.packages.$dirty && newbox.packages.$invalid">
                 <span class="errorTip clearfix" ng-show="newbox.packages.$error.required">件数是必须的。</span>
                     </span>

                <!--件数：<input type="text" ng-model="newPaperBox.packages"/>-->
            </span>

            <span class="string">
               单价：(必填)<input name="Single"type="number" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newPaperBox.price" required/>
                 <span style="color:red" ng-show="newbox.Single.$dirty && newbox.Single.$invalid">
                 <span class="errorTip clearfix" ng-show="newbox.Single.$error.required">单价是必须的。</span>
                     </span>
            </span>



             <span class="string">
               金额：(必填)<input name="Amount"type="number" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newPaperBox.amount" required/>
                 <span style="color:red" ng-show="newbox.Amount.$dirty && newbox.Amount.$invalid">
                 <span class="errorTip clearfix" ng-show="newbox.Amount.$error.required">金额是必须的。</span>
                     </span>
            </span>




        <div class="qualityFormbutton">
            <p>
                <input type="submit" ng-click="addProductMethod(2)"
                       ng-disabled="newbox.packages.$invalid ||newbox.Single.$invalid ||newbox.Amount.$invalid ||newbox.boxsize.$invalid">
            </p>

                <!--<p>-->
                    <!--<input type="submit" ng-click="modifyProduct(3)"-->
                           <!--ng-disabled="atomCotent.sum.$invalid ||atomCotent.total.$invalid ||atomCotent.provider.$invalid || atomCotent.AtomName.$invalid ||atomCotent.singleprice.$invalid ">-->
                <!--</p>-->
        </div>
            </form>

    </div>
    </div>

    <div class="applyTickmask" ng-show="company">
    <div class="goodskMaskBox" ng-show="company">
        <div class="aptkMaskTitle">新增原材料库存</div>

        <p>
            <span class="close" ng-click="company=false"/>

        </p>
        <form name="newAtom" novalidate>


               <span class="string">
                <p>供应商：(必填)</p>
                <input type="text" name="provider" ng-model="newAtom.newProvider" required/>
                <span style="color:red" ng-show="newAtom.provider.$dirty && newAtom.provider.$invalid">
               <span  class="errorTip clearfix" ng-show="newAtom.provider.$error.required">供应商是必填的。</span>
            </span>

            </span>

            <span class="string">
                 <p>材料名称：(必填)</p>
                <input type="text" name="AtomName" ng-model="newAtom.newAtomName" required/>
                 <span style="color:red" ng-show="newAtom.AtomName.$dirty && newAtom.AtomName.$invalid">
               <span  class="errorTip clearfix" ng-show="newAtom.AtomName.$error.required">材料名称是必填的。</span>
                     </span>
            </span>

             <span class="string">
                材料规格：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');"  ng-model="newAtom.newSpecification"/>
            </span>

             <span class="string">
                厚度：<input type="text"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newAtom.newPLY"/>
            </span>


             <span class="string">
                纵向：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newAtom.newPortrait"/>
            </span>

             <span class="string">
                横向：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');"  ng-model="newAtom.newInfeed"/>
            </span>

             <span class="string">
                 <p>库存总数量：(必填)</p>
                <input type="text" name="AtomName"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newAtom.newStockSum" required/>
                 <span style="color:red" ng-show="newAtom.newStockSum.$dirty && newAtom.newStockSum.$invalid">
               <span  class="errorTip clearfix" ng-show="newAtom.newStockSum.$error.required">库存总数量是必填的。</span>
                     </span>
            </span>

             <span class="string">
                件数：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newAtom.newPackages"/>
            </span>


                <span class="string">
                <p>单价：(必填)</p><input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" name="singleprice" ng-model="newAtom.newPrice" required/>
                   <span style="color:red" ng-show="newAtom.singleprice.$dirty && newAtom.singleprice.$invalid">
               <span  class="errorTip clearfix" ng-show="newAtom.singleprice.$error.required">单价是必填的。</span>
                     </span>
            </span>

              <span class="string">
                <p> 金额：(必填)</p>
               <input type="number" name="total" onkeyup="value=value.replace(/[^\d]/g,'');"  ng-model="newAtom.newAmount" required/>
                <span style="color:red" ng-show="newAtom.total.$dirty && newAtom.total.$invalid">
               <span  class="errorTip clearfix" ng-show="newAtom.total.$error.required">金额是必填的。</span></span>
            </span>


        <div class="qualityFormbutton">
            <p>
                <input type="submit" ng-click="addProductMethod(3)"
                       ng-disabled="newAtom.newStockSum.$invalid ||  newAtom.sum.$invalid ||newAtom.total.$invalid ||newAtom.provider.$invalid || newAtom.AtomName.$invalid ||newAtom.singleprice.$invalid ">
            </p>
            <!--ng-disabled="atomCotent.sum.$invalid ||atomCotent.total.$invalid ||atomCotent.provider.$invalid || atomCotent.AtomName.$invalid ||atomCotent.singleprice.$invalid ">-->

        </div>
</form>
    </div>
</div>
<!--//========================-->




<!--               纸箱模块-->
<div class="details" ng-show="BoxTab">
    <div class="up searchSuject top">
        <div class="options">
            <select  class="selectOption" ng-init="selectedName2 = selectOption2[0]" ng-model="selectedName2" ng-options="x for x in selectOption2">
            </select>
        </div>

          <span >
            <input type="number" placeholder="单价" ng-show="selectedName2=='单价'" ng-model="selectValue2forNum"/>
            <input type="number" placeholder="金额" ng-show="selectedName2=='金额'" ng-model="selectValue2forNum"/>
            <input type="text" placeholder="纸箱规格" ng-show="selectedName2=='纸箱规格'" ng-model="selectValue2"/>
        </span>


        <div class="search point" ng-click="searchOnKeyBox()">搜索</div>
        <div class="search point" ng-click="showBox(2)" ng-show="username=='超级管理员'">添加</div>


    </div>


    <div class="down">
        <ul>
            <li ng-class="getClass(1)" ng-click="showTab(1)">纸箱库存</li>
            <li ng-class="getClass(2)" ng-click="showTab(2)">原材料库存</li>
            <li ng-class="getClass(3)" ng-click="showTab(3)">成品库存</li>
        </ul>


        <table  ng-show="companyForm" class="sujectTitle">
            <tr>
                <td class="sujectOption" ng-click="sort='boxsize';desc=!desc">纸箱规格</td>
                <td class="sujectOption" ng-click="sort='count';desc=!desc">数量/个</td>
                <td class="sujectOption" ng-click="sort='packages';desc=!desc">件数</td>
                <td class="sujectOption" ng-click="sort='price';desc=!desc">单价</td>
                <td class="sujectOption" ng-click="price='amount';desc=!desc">金额</td>
                <td class="sujectOption" ng-show="username=='超级管理员'">编辑</td>
            </tr>


            <tr ng-repeat="paperBoxList in paperBoxData | orderBy:sort:desc">
                <td class="sujectOption sujectOptionng">{{paperBoxList.boxsize}}</td>
                <td class="sujectOption sujectOptionng" >{{paperBoxList.count}}</td>
                <td class="sujectOption sujectOptionng">
                    <div class="ediSum">
                        <span ng-click="addBoxSum($index)" class="addButton clearfix"/>
                        <input class="sum "  type="text" ng-model="paperBoxList.packages" readonly/>
                        <span ng-click="cutBoxSum($index)" class="cutButton clearfix"/>
                    </div>
                </td>

                <td class="sujectOption sujectOptionng">{{paperBoxList.price}}</td>
                <td class="sujectOption sujectOptionng">{{paperBoxList.amount}}</td>
                <td class="sujectOption sujectOptionng" ng-show="username=='超级管理员'"><div ng-click="edit(paperBoxList,2)" class="EditButton"/>   <div ng-click="dele(2,paperBoxList)" class="DeleteButton"/></td>

            </tr>
        </table>




    </div>

    <div class="bottom">
        <div class="bottom">
            <div>当前是第{{p_current2}}页</div>
            <a href=""><div ng-click="p_index2(1)">首页</div></a>
            <a href=""><div ng-click="backPage2()">上页</div></a>
            <a href=""><div ng-click="nextPage2()">下页</div></a>
          <!--  <div class="page">
                <a href=""><span ng-repeat="page in pages2" ng-click="load_page2($index+1)" class="pageCount">
                {{page}}</span></a>&lt;!&ndash;页数按钮&ndash;&gt;
                &lt;!&ndash;<span class="pageCount" ng-click="pagesearch($index)">{{page}}</span>&ndash;&gt;
            </div>-->
            <a href=""><div ng-click="p_last2(p_all_page2)">尾页</div></a>
            <div>共：{{p_all_page2}} 页</div>
            <div>共：{{totalCount2}} 条</div>
        </div>
    </div>
</div>





<!--//=======================-->
<div class="applyTickmask" ng-show="goods">
    <div class="goodskMaskBox" ng-show="goods">
        <div class="aptkMaskTitle">新增成品库存

                <span class="close" ng-click=" goods=false"/>
        </div>

        <form name="newProduct" novalidate>

            <span class="string">
                <span >客户ID：(必填)</span>
                <input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" name="ClientID" ng-model="newProduct.customerid" required/>
                <span style="color:red" ng-show="newProduct.ClientID.$dirty &&newProduct.ClientID.$invalid">
                <span class="errorTip clearfix" ng-show="newProduct.ClientID.$dirty &&newProduct.ClientID.$error.required">客户ID是必须的。</span>
                </span>
            </span>


            <span class="string">
                材料名称：<input type="text" ng-model="newProduct.stockname"/>
            </span>

               <span class="string">
                颜色：<input type="text" ng-model="newProduct.color"/>
            </span>


            <span class="string">
                <span >库存总数量：(必填)</span>
                <input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" name="Stocksum" ng-model="newProduct.stocksum" required/>
                <span style="color:red" ng-show="newProduct.Stocksum.$dirty &&newProduct.Stocksum.$invalid">
                <span class="errorTip clearfix" ng-show="newProduct.Stocksum.$dirty &&newProduct.Stocksum.$error.required">材料ID是必须的。</span>
                </span>
            </span>
         <span class="string">
                箱数：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');"  ng-model="newProduct.count"/>
            </span>

            <span class="string">
                <span >材料ID：(必填)</span>
                <input type="text" name="stockid" ng-model="newProduct.stockId" required/>
                <span style="color:red" ng-show="newProduct.stockid.$dirty &&newProduct.stockid.$invalid">
                <span class="errorTip clearfix" ng-show="newProduct.stockid.$dirty &&newProduct.stockid.$error.required">材料ID是必须的。</span>
                </span>
            </span>

             <span class="string">
                装箱数量：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newProduct.boxcount"/>
            </span>


             <span class="string">
                尾 数：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newProduct.remain"/>
            </span>


            <span class="string">
                <span >单价：(必填)</span>
                <input type="text" name="singlePrice" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newProduct.price" required/>
                <span style="color:red" ng-show="newProduct.singlePrice.$dirty &&newProduct.singlePrice.$invalid">
                <span class="errorTip clearfix" ng-show="newProduct.singlePrice.$dirty &&newProduct.singlePrice.$error.required">单价是必须的。</span>
                </span>
            </span>

             <span class="string">
                金额：(必填)<input type="text" name="Amount" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="newProduct.amount" required/>
                 <span style="color:red" ng-show="newProduct.Amount.$dirty &&newProduct.Amount.$invalid">
                <span class="errorTip clearfix" ng-show="newProduct.Amount.$dirty &&newProduct.Amount.$error.required">金额是必须的。</span>
                </span>
            </span>


        <div class="qualityFormbutton">
            <p>
                <input type="submit" ng-click="addProductMethod(1)"
                       ng-disabled="newProduct.Stocksum.$error.required||newProduct.Amount.$error.required||newProduct.singlePrice.$error.required ||newProduct.ClientID.$error.required || newProduct.stockid.$error.required">
            </p>
        </div>
</form>
    </div>
</div>





<!--//============原材料============-->



<div class="details" ng-show="AtomTab">
    <div class="up searchSuject top">
        <div class="options">
            <select  class="selectOption" ng-init="selectedName3 = selectOption3[0]" ng-model="selectedName3" ng-options="x for x in selectOption3">
            </select>
        </div>

          <span >
              <!--<input type="text" placeholder="全部"  ng-show="selectedName3=='全部'" ng-model="selectValue3"/>-->
            <input type="text" placeholder="供应商"  ng-show="selectedName3=='供应商'" ng-model="selectValue3"/>
            <input type="text" placeholder="材料名称" ng-show="selectedName3=='材料名称'" ng-model="selectValue3"/>
            <input type="text" placeholder="金额" ng-show="selectedName3=='金额'" ng-model="selectValue3"/>
        </span>


        <div class="search point" ng-click="searchAtomOnKey(selectValue3)">搜索</div>
        <div class="search point" ng-click="showBox(3)" ng-show="username=='超级管理员'">添加</div>


    </div>


    <div class="down">
        <ul>
            <li ng-class="getClass(1)" ng-click="showTab(1)">纸箱库存</li>
            <li ng-class="getClass(2)" ng-click="showTab(2)">原材料库存</li>
            <li ng-class="getClass(3)" ng-click=" showTab(3)">成品库存</li>
        </ul>

        <table  ng-show="companyForm" class="sujectTitle">
            <tr>
                <td class="sujectOption"   ng-click="sort='provider';desc=!desc" >供应商</td>
                <td class="sujectOption"  ng-click="sort='name';desc=!desc">材料名称</td>
                <td class="sujectOption"  ng-click="sort='specification';desc=!desc">材料规格</td>
                <td class="sujectOption"  ng-click="sort='ply';desc=!desc">厚度</td>
                <td class="sujectOption"  ng-click="sort='portrait';desc=!desc">纵向</td>
                <td class="sujectOption"  ng-click="sort='infeed';desc=!desc">横向</td>
                <td class="sujectOption"  ng-click="sort='materialsum';desc=!desc">库存总数量</td>
                <td class="sujectOption"  ng-click="sort='packages';desc=!desc">件数</td>
                <td class="sujectOption"  ng-click="sort='price';desc=!desc">单价</td>
                <td class="sujectOption"  ng-click="sort='amount';desc=!desc">金额</td>
                <td class="sujectOption" ng-show="username=='超级管理员'" >编辑</td>
            </tr>


            <!--<div class="ediSum">-->
                <!--<span ng-click="addAtomSum($index)" class="EditButton addSum clearfix"/>-->
                <!--<input class="sum "  type="text" ng-model="AtomList.materialsum" readonly/>-->
                <!--<span ng-click="cutAtomSum($index)" class="EditButton cutSum clearfix"/>-->
            <!--</div>-->

            <tr ng-repeat="AtomList in AtomData | orderBy:sort:desc">
                <td class="sujectOption sujectOptionng" >{{AtomList.provider}}</td>
                <td class="sujectOption sujectOptionng">{{AtomList.name}}</td>
                <td class="sujectOption sujectOptionng">{{AtomList.specification}}</td>
                <td class="sujectOption sujectOptionng">{{AtomList.ply}}</td>
                <td class="sujectOption sujectOptionng">{{AtomList.portrait}}</td>
                <td class="sujectOption sujectOptionng">{{AtomList.infeed}}</td>
                <td class="sujectOption sujectOptionng">
                    <div class="ediSum">
                    <span ng-click="addAtomSum($index)" class="addButton clearfix"/>
                    <input class="sum "  type="text" ng-model="AtomList.materialsum" readonly/>
                    <span ng-click="cutAtomSum($index)" class="cutButton clearfix"/>
                    </div>

                </td>
                <td class="sujectOption sujectOptionng">{{AtomList.packages}}</td>
                <td class="sujectOption sujectOptionng">{{AtomList.price}}</td>
                <td class="sujectOption sujectOptionng">{{AtomList.amount}}</td>
                <td class="sujectOption sujectOptionng" ng-show="username=='超级管理员'" ><div ng-click="edit(AtomList,3)" class="EditButton"/>   <div ng-click="dele(3,AtomList)" class="DeleteButton"/></td>

            </tr>
        </table>

    </div>

    <div class="bottom">
        <div class="bottom">
            <div>当前是第{{p_current3}}页</div>
            <a href=""><div ng-click="p_index3(1)">首页</div></a>
            <a href=""><div ng-click="backPage3()">上页</div></a>
            <a href=""><div ng-click="nextPage3()">下页</div></a>
     <!--       <div class="page">
                <a href=""><span ng-repeat="page in pages3" ng-click="load_page3($index+1)" class="pageCount">
                {{page}}</span></a>&lt;!&ndash;页数按钮&ndash;&gt;
                &lt;!&ndash;<span class="pageCount" ng-click="pagesearch($index)">{{page}}</span>&ndash;&gt;
            </div>-->
            <a href=""><div ng-click="p_last3(p_all_page3)">尾页</div></a>
            <div>共：{{p_all_page3}} 页</div>
            <div>共：{{totalCount3}} 条</div>
        </div>
    </div>
</div>


<!--//=======================-->
<div class="applyTickmask" ng-show="ModifyGoods">
    <div class="goodskMaskBox" ng-show="ModifyGoods">
        <span class="close" ng-click="ModifyGoods=false">
        </span>
        <div class="aptkMaskTitle">修改成品库存</div>

        <form name="ModifyProduct" novalidate>

             <span class="string">
                <span >客户ID：(必填)</span>
                <input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" name="customerid" ng-model="ModifyGoodsContent.customerid" required/>
                <span style="color:red" ng-show="ModifyProduct.customerid.$dirty &&ModifyProduct.customerid.$invalid">
                <span class="errorTip clearfix" ng-show="ModifyProduct.customerid.$dirty &&ModifyProduct.customerid.$error.required">客户ID是必须的。</span>
                </span>
            </span>

            <span class="string">
                材料名称：<input type="text" ng-model="ModifyGoodsContent.stockname" required/>
            </span>

               <span class="string">
                颜色：<input type="text" ng-model="ModifyGoodsContent.color"/>
            </span>

             <span class="string">
                材料ID：<input name="stockid"type="text" ng-model="ModifyGoodsContent.stockid" required/>
                 <span style="color:red" ng-show="ModifyProduct.stockid.$dirty && ModifyProduct.stockid.$invalid">
                 <span class="errorTip clearfix" ng-show="ModifyProduct.stockid.$error.required">材料ID是必须的。</span>
                     </span>
            </span>

            <span class="string">
                <p>库存总数量：(必填)</p>
                 <input type="text"  onkeyup="value=value.replace(/[^\d]/g,'');" name="sum" ng-model="ModifyGoodsContent.stocksum" required/>
                   <span style="color:red" ng-show="ModifyProduct.sum.$dirty && ModifyProduct.sum.$invalid">
               <span  class="errorTip clearfix" ng-show="ModifyProduct.sum.$error.required">库存是必填的。</span>
                     </span>
            </span>


             <span class="string">
                装箱数量：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyGoodsContent.boxcount"/>
            </span>


             <span class="string">
                尾 数：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyGoodsContent.remain"/>
            </span>


             <span class="string">
                单价：<input name="Singleprice"type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyGoodsContent.price" required/>
                 <span style="color:red" ng-show="ModifyProduct.Singleprice.$dirty && ModifyProduct.Singleprice.$invalid">
                 <span class="errorTip clearfix" ng-show="ModifyProduct.Singleprice.$error.required">单价是必须的。</span>
                     </span>
            </span>


            <span class="string">
                金额：<input name="Amount"type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyGoodsContent.amount" required/>
                 <span style="color:red" ng-show="ModifyProduct.Amount.$dirty && ModifyProduct.Amount.$invalid">
                 <span class="errorTip clearfix" ng-show="ModifyProduct.Amount.$error.required">金额是必须的。</span>
                     </span>
            </span>


        <div class="qualityFormbutton">
            <p>
                <input type="submit" ng-click="modifyProduct(1)"
                       ng-disabled="ModifyProduct.sum.$invalid ||ModifyProduct.Singleprice.$invalid || ModifyProduct.Amount.$invalid || ModifyProduct.customerid.$invalid || ModifyProduct.stockid.$error.required">
            </p>
        </div>
</form>
    </div>
</div>




<div class="applyTickmask" ng-show="ModifyBoxCount">
    <div class="goodskMaskBox" ng-show="ModifyBoxCount">
        <div class="aptkMaskTitle">修改纸箱库存</div>
        <span class="close" ng-click="ModifyBoxCount=false">
        </span>
        <form name="box" novalidate>
            <span class="string">
                纸箱规格：(必填)</p><input type="text" name="boxsize" ng-model="ModifyBoxContent.boxsize" required/>
           <span style="color:red" ng-show="box.boxsize.$dirty && box.boxsize.$invalid">
               <span  class="errorTip clearfix" ng-show="box.boxsize.$error.required">纸箱规格是必填的。</span>
            </span>

            </span>

            <span class="string">
                <!--纸箱-->数量：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyBoxContent.count"/>
            </span>
`
               <span class="string">
                <!--件数：<input type="number" ng-model="ModifyBoxContent.packages"/>-->
                       件数：(必填)<input name="packages"type="text"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyBoxContent.packages" required/>
                 <span style="color:red" ng-show="box.packages.$dirty && box.packages.$invalid">
                 <span  class="errorTip clearfix" ng-show="box.packages.$error.required">件数是必须的。</span>
                     </span>
            </span>

             <span class="string">
               单价：(必填)<input name="Single"type="text" onkeyup="value=value.replace(/[^\d]/g,'');"  ng-model="ModifyBoxContent.price" required/>
                 <span style="color:red" ng-show="box.Single.$dirty && box.Single.$invalid">
                 <span class="errorTip clearfix" ng-show="box.Single.$error.required">金额是必须的。</span>
                     </span>
            </span>


                <span class="string">
               金额：(必填)<input name="Amount"type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyBoxContent.amount" required/>
                 <span style="color:red" ng-show="box.Amount.$dirty && box.Amount.$invalid">
                 <span class="errorTip clearfix" ng-show="box.Amount.$error.required">金额是必须的。</span>
                     </span>
            </span>


        <div class="qualityFormbutton">
            <p>
                <input type="submit" ng-click="modifyProduct(2)"
                       ng-disabled="box.packages.$invalid ||box.Amount.$invalid ||box.Single.$invalid ||box.boxsize.$invalid">
            </p>
            <!--<span class="search " ng-click="modifyProduct(2)">确定</span>-->
            <!--<span class="search" ng-click="ModifyBoxCount=false">取消</span>-->
        </div>
</form>
    </div></div>

<div class="applyTickmask" ng-show="Modifycompany">
    <div class="goodskMaskBox" ng-show="Modifycompany">
          <span class="close" ng-click="Modifycompany=false">
        </span>
        <div class="aptkMaskTitle">修改原材料库存</div>
        <form name="atomCotent" novalidate>


            <span class="string">
                <p>供应商：</p>
                <input type="text" name="provider" ng-model="ModifyAtomContent.provider" required/>
                <span style="color:red" ng-show="atomCotent.provider.$dirty && atomCotent.provider.$invalid">
               <span  class="errorTip clearfix" ng-show="atomCotent.provider.$error.required">供应商是必填的。</span>
            </span>

            </span>

            <span class="string">
                 <p>材料名称：</p>
                <input type="text" name="AtomName" ng-model="ModifyAtomContent.name" required/>
                 <span style="color:red" ng-show="atomCotent.AtomName.$dirty && atomCotent.AtomName.$invalid">
               <span  class="errorTip clearfix" ng-show="atomCotent.AtomName.$error.required">材料名称是必填的。</span>
                     </span>
            </span>

              <span class="string">
                材料规格：<input type="text"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyAtomContent.specification"/>
            </span>

             <span class="string">
                厚度：<input type="text"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyAtomContent.ply"/>
            </span>


             <span class="string">
                纵向：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyAtomContent.portrait"/>
            </span>

             <span class="string">
                横向：<input type="text" onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyAtomContent.infeed"/>
            </span>

             <span class="string">
                <p>库存总数量：(必填)</p>
                 <input type="text"   onkeyup="value=value.replace(/[^\d]/g,'');" name="sum" ng-model="ModifyAtomContent.materialsum" required/>
                   <span style="color:red" ng-show="atomCotent.sum.$dirty && atomCotent.sum.$invalid">
               <span  class="errorTip clearfix" ng-show="atomCotent.sum.$error.required">库存是必填的。</span>
                     </span>
            </span>

             <span class="string">
                件数：<input type="text"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyAtomContent.packages"/>
            </span>

              <span class="string">
                <p>单价：(必填)</p><input type="text" name="singleprice"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyAtomContent.price" required/>
                   <span style="color:red" ng-show="atomCotent.singleprice.$dirty && atomCotent.singleprice.$invalid">
               <span  class="errorTip clearfix" ng-show="atomCotent.singleprice.$error.required">单价是必填的。</span>
                     </span>
            </span>


            <span class="string">
                <p> 金额：(必填)</p>
               <input type="text" name="total"  onkeyup="value=value.replace(/[^\d]/g,'');" ng-model="ModifyAtomContent.amount" required/>
                <span style="color:red" ng-show="atomCotent.total.$dirty && atomCotent.total.$invalid">
               <span  class="errorTip clearfix" ng-show="atomCotent.total.$error.required">金额是必填的。</span></span>
            </span>


        <div class="qualityFormbutton">
            <p>
                <input type="submit" ng-click="modifyProduct(3)"
                       ng-disabled="atomCotent.sum.$invalid ||atomCotent.total.$invalid ||atomCotent.provider.$invalid || atomCotent.AtomName.$invalid ||atomCotent.singleprice.$invalid ">
            </p>

        </div>
</form>
    </div>
</div>


<!--tips-->
<!--删除提示-->
<div class="applyTickmask ng-scope" ng-show="deleTargetTipsBox" >
    <div class="houseForm" ng-show="deleTargetTipsBox">
        <div class="aptkMaskTitle ng-binding">{{tipsTitle}}</div>
        <div class="controlUser ng-binding">{{tipsContent}}</div>
        <div class="tipsbutton">
            <span class="search " ng-click="deleConfirm()">确定</span>
            <span class="search" ng-click="deleTargetTipsBox=false">取消</span>
        </div>
    </div>

</div>

<!--错误提示-->
<div class="applyTickmask ng-scope" ng-show="tipsState" ng-click="tipsState=false">
    <div class="houseForm" ng-show="tipsState">
        <div class="aptkMaskTitle ng-binding">{{tipsTitle}}</div>
        <div class="controlUser ng-binding">{{tipsContent}}</div>
    </div>

</div>


