body{
    background: #0EA7D7;
}

.title{width: 80%;padding-left: 1rem;padding-top: 0.5rem;color: #fff;height: 1rem;line-height: 0.6rem;}

.leftTitle{

    font-size: 0.4rem;
    text-align: center;
    float: left;}

.rightTitle{
    float: right;
}

.Formtitle{
    padding-left: 0.5rem;
}

.details{
    background: #E9F3F9;
}

table{
    margin: 0.3rem 0.4rem;
}

.point{
    cursor:pointer;
}

.urder{
    width: 50%;
    height: 0.05rem;
    margin-top: 0.1rem;
    background: #fff;
}

.search{
    display: inline-block;
    background: #0998CE;
    color: #fff;
    width: 1rem;
    text-align: center;
    border-radius: 0.1rem;
    height: 0.4rem;
    line-height: 0.4rem;
}

.sujectOption{
    background: #FBEDCF;
    border: 0.03rem solid #cacaca;
    width: 4rem;
    height: 0.5rem;
    text-align: center;
}

.qualityForm{
    background: #fff;
    width: 14rem;
    border-radius: 0.1rem;
    position: absolute;
    top: 16%;
    left: 21%;
    height: 7.5rem;
    font-size: 0.3rem;
    overflow: auto;
}


.qualityFormbutton{
    text-align: center;
    padding: 0.2rem;
    border-top: 0.01rem solid #cacaca;
}

.qualityFormbutton span{
    margin-right: 0.5rem;
}

.down{
    width: 100%;
    overflow: auto;
}

.heavy{
    width: 1rem;
    display: inline-block;
    padding-left: 0.5rem;
}

.string{
    width: 3rem;
    height: 0.7rem;
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

.bottom div{
    display: inline-block;
}
.bottom input{
    width: 0.5rem;
}

.bottom{
    text-align: right;
}

.up{
    padding: 0.2rem 1rem;
}

.errorText{
    color: #DD4E42;
}

.selectOption{
    height: 0.4rem;
}

.searchSuject{
    margin-top: 0.1rem;
}

.top{
    margin-top: 0;
}

.close{
    position: absolute;
    background: url(../../libs/img/close.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.4rem;
    top:0;
    left:0;

}

.errorTip{
    float: left;
}

.options{
    display: inline-block;
    height: 0.4rem;
}

.pageCount{
    width: 0.2rem;
}

.goodskMaskBox{
    width: 45%;
    overflow: auto;
    background: #fff;
    margin: auto;
    margin-top: 15%;
    position: relative;
    height: 35%;
}

.applyTickmask{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 99999;
background-color: rgba(0,0,0,0.5);
}

.aptkMaskTitle{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.4rem;
    color: #0998CE;
    text-align: center;
    border-bottom: 1px solid #ECEFF3;
}

.section {
    color: #fff;
    height: 1.1rem;
    background: #0489BB;
    padding-left: 1rem;
    font-size: 0.25rem;
}

.section li{
    float: left;
    width: 2rem;
    cursor:pointer;
}

.sujectOptionng{
    background: #fff;
}


.orderSearch{
    background: url(../../libs/img/order.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}

.qualityFormIcon{
    background: url(../../libs/img/qualityFormIcon.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}

.DeleteButton{
    background: url(../../libs/img/Delete.png) no-repeat center;
    height: 0.6rem;
    width: 0.5rem;
    display: inline-block;
    background-size: 0.3rem;
}


.EditButton{
    background: url(../../libs/img/Edit.png) no-repeat center;
    display: inline-block;
    height: 0.6rem;
    width: 0.5rem;
    background-size: 0.3rem;
}



.role{
    background: url(../../libs/img/User.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}

.warehouse{
    background: url(../../libs/img/warehouse.png) no-repeat center;
    width: 1rem;
    height: 0.6rem;
    background-size: 0.5rem;
}

.houseForm{
    border-radius: 0.1rem;
    width: 25%;
    min-width: 4rem;
    background: #fff;
    margin: 10% 32%;
    height: 4rem;
    text-align: center;
}



.detailIcon{
    width: 0.4rem;
    cursor: pointer;
}

.aptkMaskTitle{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.4rem;
    color: #0998CE;
    text-align: center;
    border-bottom: 1px solid #ECEFF3;
}

.controlUser{
    height: 1.7rem;
    line-height: 2rem;
}

.tipsbutton span{
    text-align: center;
    border-top: 0.01rem solid #cacaca;
    width: 1.2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    margin: 0 0.3rem;

}

/*Çå¸¡¶¯*/
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}