<link rel="stylesheet" href="./five/warehouse/warehouse.css">

<ul class="title">
    <li class="leftTitle clearfix">光华彩印库存管理系统</li>
    <li class="rightTitle clearfix">欢迎您！{{username}}</li>
</ul>


<ul class="section clearfix">
    <li ng-click="jump('Home')">

        <div class="orderSearch"></div>
        订单查询
    </li>
    <li ng-click="jump('warehouse')">
        <div class="warehouse"></div>
        库存查询</li>
    <li ng-click="jump('qualityForm')">
        <div class="qualityFormIcon"></div>

        质量标准</li>
    <li ng-click="jump('system')">
        <div class="role"></div>
        系统管理</li>
</ul>

<div class="details">
    <div class="up searchSuject">
        <span>类别</span>
    <div class="options">
        <select  class="selectOption" ng-init="selectedName = selectOption[0]" ng-model="selectedName" ng-options="x for x in selectOption">
        </select>
    </div>

          <span >
            <input type="text" placeholder="全部"/>
            <input type="text" placeholder="编号"  ng-show="selectedName=='编 号'"/>
            <input type="text" placeholder="产品名称" ng-show="selectedName=='产品名称'"/>
            <input type="text" placeholder="产品名称" ng-show="selectedName=='产品名称'"/>
        </span>

    <div class="options">
        <input class="selectOption" type="date"/>
    </div>

    <div class="search" ng-click="search(selectedName)">搜索</div>
        <div class="search" ng-click="newOrder=true">添加</div>
    </div>


    <div class="down">
        <table id="Finished" ng-show="Finish" class="sujectTitle">
            <tr>
            <td class="sujectOption">公司名</td>
            <td class="sujectOption">公司代码</td>
            <td class="sujectOption">编号</td>
            <td class="sujectOption">产品名称</td>
            <td class="sujectOption">材质</td>
            <td class="sujectOption">产品重量</td>
            <td class="sujectOption">材料规格</td>
                <td class="sujectOption">编辑</td>
            </tr>


            <tr ng-repeat="orderList in orderDatas track by $index">
                <td class="sujectOption sujectOptionng">{{orderList.company}}</td>
                <td class="sujectOption sujectOptionng" >{{orderList.companyNum}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.num}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.productName}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.atom}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.orderState}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.weight}}</td>
                <td class="sujectOption sujectOptionng" ><div ng-click="edit($index)" class="EditButton"/>   <div ng-click="dele($index)" class="DeleteButton"/></td>

            </tr>
        </table>



        <table id="company" ng-show="companyForm" class="sujectTitle">
            <tr>
                <td class="sujectOption">编 号</td>
                <td class="sujectOption">产品名称</td>
                <td class="sujectOption">颜色</td>
                <td class="sujectOption">箱数</td>
                <td class="sujectOption">箱数量</td>
                <td class="sujectOption">尾 数</td>
                <td class="sujectOption">单价</td>
                <td class="sujectOption">金额</td>
                <td class="sujectOption">编辑</td>
            </tr>


            <tr ng-repeat="companyList in company track by $index">
                <td class="sujectOption sujectOptionng">{{companyList.num}}</td>
                <td class="sujectOption sujectOptionng" >{{companyList.productName}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.color}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.boxNum}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.boxCount}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.lastCount}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.single}}</td>
                <td class="sujectOption sujectOptionng">{{companyList.money}}</td>
                <td class="sujectOption sujectOptionng" ng-click="takequalityFormShow($index)"><span>明细</span></td>
                <td class="sujectOption sujectOptionng" ><div ng-click="edit($index)" class="EditButton"/>   <div ng-click="dele($index)" class="DeleteButton"/></td>

            </tr>
        </table>



        <table id="box" ng-show="box" class="sujectTitle">
            <tr>
                <td class="sujectOption">规   格</td>
                <td class="sujectOption">数量/个</td>
                <td class="sujectOption">单价</td>
                <td class="sujectOption">金额</td>
                <td class="sujectOption">规   格</td>
                <td class="sujectOption">件数</td>
                <td class="sujectOption">数量/个</td>
                <td class="sujectOption">单价</td>
                <td class="sujectOption">金额</td>
                <td class="sujectOption">编辑</td>
            </tr>


            <tr ng-repeat="orderList in orderDatas track by $index">
                <td class="sujectOption sujectOptionng">{{orderList.orderTime}}</td>
                <td class="sujectOption sujectOptionng" >{{orderList.client}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.companyNum}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.num}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.stock}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.orderState}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.orderCount}}</td>
                <td class="sujectOption sujectOptionng">{{orderList.orderState}}</td>
                <td class="sujectOption sujectOptionng" ng-click="takequalityFormShow($index)"><span>明细</span></td>
                <td class="sujectOption sujectOptionng" ><div ng-click="edit($index)" class="EditButton"/>   <div ng-click="dele($index)" class="DeleteButton"/></td>

            </tr>
        </table>

    </div>

    <div class="bottom">
        <div>上一页</div>
        <div>下一页</div>
        <div class="page">
            <a href=""><span ng-click="searchPage(count-2)" class="pageCount">{{count-2}}</span></a><!--页数按钮-->
            <a href=""><span class="pageCount">{{count-1}}</span></a>
            <span class="pageCount">{{count}}</span>
            <span class="pageCount">{{count+1}}</span>
            <span class="pageCount">{{count+2}}</span>
        </div>
        <div>确定</div>
    </div>
</div>


<div class="qualityForm" ng-show="qualityFormShow">
        <div>
            <span class="string">
                客户名称：
            </span>

            <span class="string">
                产品名称：
            </span >

            <span class="string">
                编码：
            </span>
        </div>

            <span class="string">
                印刷方式：<select >
                <option value="里印">里印</option>
                <option value="表印">表印</option>
                </select>
            </span >

            <span class="string">
                材料性质：
            </span>

            <span class="string">
                横向收缩率：
            </span>

            <span class="string">
                纵向收缩率：
            </span>

    <div >
        <div class="Formtitle">印版资料:</div>
        <span class="string">版号:12412</span>
        <span class="string">版周:124124</span>
        <span class="string">印刷尺寸</span>
        <span class="string">拼数</span>
        <span class="string">版辊数</span>
        <span class="string">颜色</span>
        <span class="string">备注</span>
    </div>

    <div >
        <div class="Formtitle"> 印刷工序:</div>
        <span class="string">印刷方向</span>
        <span class="string">材料规格</span>
        <span class="string">印刷数量</span>
        <span class="string">印刷重量</span>
        <span class="string">印刷数量（米）</span>
         <span class="string">损耗   %</span>
        <span class="string">备注</span>
    </div>


    <div >
        <div class="Formtitle"> 后工序:</div>
        <div class="string">品检</div>
            <div>
                <div class="string" >分条</div>
                <span class="string">分切尺寸</span>
                <span class="string">透明边留位</span>
            </div>

        <div>
            <div class="string">合掌</div>
            <span class="string">合掌尺寸</span>
            <span class="string">胶水位置</span>
            <span class="string">折位</span>
            <span class="string">撕口线规格</span>
            <span class="string">撕口线位置</span>
        </div>

        <div>
            <div class="heavy">重卷</div>
            <select >成品型式
                <option value="切片">切片</option>
                <option value="卷装">卷装</option>
                <option value="大纸芯12.5CM">大纸芯12.5CM</option>
                <option value="大纸芯15CM">大纸芯15CM</option>
                <option value="小纸芯">大纸芯15CM</option>

            </select>
            <span class="string">胶水位置</span>
            <span class="string">折位</span>
            <span class="string">撕口线规格</span>
            <span class="string">撕口线位置</span>
        </div>
        <span class="string">印刷数量</span>
    </div>

    <div>
        <div class="string">封切</div>
        <span class="string">切高</span>
        <span class="string">装箱方式</span>
        <span class="string">纸箱规格</span>
        <span class="string">纸箱规格</span>
    </div>

    <div class="string">
        备注：
    </div>

    <div>
        <div class="heavy">包装</div>
        <select>成品型式
            <option value="新箱">新箱</option>
            <option value="箱内外膜包装">箱内外膜包装</option>
            <option value="箱外加井字打包带">箱外加井字打包带</option>
            <option value="旧箱">旧箱</option>
            <option value="其它">其它</option>

        </select>
    </div>

    <div class="string">
        备注：
    </div>

    <div class="qualityFormbutton">
        <span class="search " ng-click="qualityFormShow=false">确定</span>
        <span class="search" ng-click="qualityFormShow=false">取消</span>
    </div>

    </div>



    <div class="qualityForm" ng-show="newOrder" id="newOrder">
        <div class="string">订单日期
            <input type="date"/>
        </div>
        <div class="string">交货日期
            <input type="date"/>
        </div>
        <div class="string">公司名称
            <input type="text"/>
        </div>
        <div class="string">公司代码
            <input type="text"/>
        </div>
        <div class="string">产品编码
            <input type="text"/>
        </div>
        <div class="string">产品名称
            <input type="text"/>
        </div>
        <div class="string">订单数量
            <input type="number"/>
        </div>
        <div class="string">库存数量
            <input type="number"/>
        </div>
        <div class="string">所需生产量
            <input type="text"/>
        </div>
        <div class="string">印刷
            <input type="text"/>
        </div>
        <div class="string">开料
            <input type="text"/>
        </div>
        <div class="string">合掌
            <input type="text"/>
        </div>
        <div class="string">切标
            <input type="text"/>
        </div>
        <div class="string">定型
            <input type="text"/>
        </div>
        <div class="string">复卷
            <input type="text"/>
        </div>
        <div class="string">送货
            <input type="text"/>
        </div>
        <div class="string">物流
            <input type="text"/>
        </div>
        <div class="string">物流名称
            <input type="text"/>
        </div>
        <div class="string">单号
            <input type="text"/>
        </div>

        <div class="qualityFormbutton">
            <span class="search " ng-click="newOrder=false">确定</span>
            <span class="search" ng-click="newOrder=false">取消</span>
        </div>

    </div>

</div>