<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghprint.cms.serviceDao.TCartonStockMapper" >
  <resultMap id="BaseResultMap" type="com.ghprint.cms.model.stock.TCartonStock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="boxsize" property="boxsize" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="packages" property="packages" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="amount" property="amount" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, boxsize, count, packages, price, amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghprint.cms.model.stock.TCartonStockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_carton_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_carton_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_carton_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghprint.cms.model.stock.TCartonStockExample" >
    delete from t_carton_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghprint.cms.model.stock.TCartonStock" >
    insert into t_carton_stock (id, boxsize, count,
    packages, price, amount)
    values (#{id,jdbcType=INTEGER}, #{boxsize,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER},
    #{packages,jdbcType=INTEGER}, #{price,jdbcType=REAL}, #{amount,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ghprint.cms.model.stock.TCartonStock" >
    insert into t_carton_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="boxsize != null" >
        boxsize,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="packages != null" >
        packages,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="boxsize != null" >
        #{boxsize,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="packages != null" >
        #{packages,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghprint.cms.model.stock.TCartonStockExample" resultType="java.lang.Integer" >
    select count(*) from t_carton_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_carton_stock
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.boxsize != null" >
        boxsize = #{record.boxsize,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.packages != null" >
        packages = #{record.packages,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_carton_stock
    set id = #{record.id,jdbcType=INTEGER},
    boxsize = #{record.boxsize,jdbcType=VARCHAR},
    count = #{record.count,jdbcType=INTEGER},
    packages = #{record.packages,jdbcType=INTEGER},
    price = #{record.price,jdbcType=REAL},
    amount = #{record.amount,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghprint.cms.model.stock.TCartonStock" >
    update t_carton_stock
    <set >
      <if test="boxsize != null" >
        boxsize = #{boxsize,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="packages != null" >
        packages = #{packages,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghprint.cms.model.stock.TCartonStock" >
    update t_carton_stock
    set boxsize = #{boxsize,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      packages = #{packages,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      amount = #{amount,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectlist" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM  t_carton_stock c
    <where>
      <if test="key != null and key !=''  and value != null and value !=''">
        ${key} like CONCAT('%',#{value},'%')
      </if>
    </where>
    ORDER BY c.id DESC
    limit #{pageOffset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="getlistcount" resultType="java.lang.Integer"  parameterType="java.lang.String">
    SELECT
    count(1)
    FROM  t_carton_stock c
    <where>
      <if test="key != null and key !=''  and value != null and value !=''">
        ${key} like CONCAT('%',#{value},'%')
      </if>
    </where>
    ORDER BY c.id DESC
  </select>
</mapper>