<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghprint.cms.serviceDao.TMaterialCostMapper" >
  <resultMap id="BaseResultMap" type="com.ghprint.cms.model.stock.TMaterialCost" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stockid" property="stockid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="income" property="income" jdbcType="REAL" />
    <result column="outcount" property="outcount" jdbcType="REAL" />
    <result column="sumcount" property="sumcount" jdbcType="REAL" />
    <result column="insertime" property="insertime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stockid, name, income, outcount, sumcount, insertime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghprint.cms.model.stock.TMaterialCostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_material_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_material_cost
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_material_cost
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghprint.cms.model.stock.TMaterialCostExample" >
    delete from t_material_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghprint.cms.model.stock.TMaterialCost" >
    insert into t_material_cost (id, stockid, name, 
      income, outcount, sumcount, 
      insertime)
    values (#{id,jdbcType=INTEGER}, #{stockid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{income,jdbcType=REAL}, #{outcount,jdbcType=REAL}, #{sumcount,jdbcType=REAL}, 
      #{insertime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.ghprint.cms.model.stock.TMaterialCost" >
    insert into t_material_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stockid != null" >
        stockid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="outcount != null" >
        outcount,
      </if>
      <if test="sumcount != null" >
        sumcount,
      </if>
      <if test="insertime != null" >
        insertime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stockid != null" >
        #{stockid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        #{income,jdbcType=REAL},
      </if>
      <if test="outcount != null" >
        #{outcount,jdbcType=REAL},
      </if>
      <if test="sumcount != null" >
        #{sumcount,jdbcType=REAL},
      </if>
      <if test="insertime != null" >
        #{insertime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghprint.cms.model.stock.TMaterialCostExample" resultType="java.lang.Integer" >
    select count(*) from t_material_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_material_cost
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stockid != null" >
        stockid = #{record.stockid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.income != null" >
        income = #{record.income,jdbcType=REAL},
      </if>
      <if test="record.outcount != null" >
        outcount = #{record.outcount,jdbcType=REAL},
      </if>
      <if test="record.sumcount != null" >
        sumcount = #{record.sumcount,jdbcType=REAL},
      </if>
      <if test="record.insertime != null" >
        insertime = #{record.insertime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_material_cost
    set id = #{record.id,jdbcType=INTEGER},
      stockid = #{record.stockid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      income = #{record.income,jdbcType=REAL},
      outcount = #{record.outcount,jdbcType=REAL},
      sumcount = #{record.sumcount,jdbcType=REAL},
      insertime = #{record.insertime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghprint.cms.model.stock.TMaterialCost" >
    update t_material_cost
    <set >
      <if test="stockid != null" >
        stockid = #{stockid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=REAL},
      </if>
      <if test="outcount != null" >
        outcount = #{outcount,jdbcType=REAL},
      </if>
      <if test="sumcount != null" >
        sumcount = #{sumcount,jdbcType=REAL},
      </if>
      <if test="insertime != null" >
        insertime = #{insertime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghprint.cms.model.stock.TMaterialCost" >
    update t_material_cost
    set stockid = #{stockid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      income = #{income,jdbcType=REAL},
      outcount = #{outcount,jdbcType=REAL},
      sumcount = #{sumcount,jdbcType=REAL},
      insertime = #{insertime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="Column_List">
     a.id,a.name,a.specification,b.income,b.outcount,b.sumcount,b.insertime
  </sql>
  <select id="selectitems" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Column_List" />
    from  t_material_stock a ,t_material_cost b
    <where>
      <if test="stockid != null">
       a.id =  b.stockid  AND b.stockid =#{stockid}
      </if>
      <if test="startime != null and endtime != null" >
      AND b.insertime BETWEEN  #{startime} AND  #{endtime}
    </if>
    </where>
    GROUP  BY  b.id
    ORDER BY  b.insertime DESC
  </select>
  <select id="getOneitem" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    from t_material_cost t
    <where>
      <if test="stockid != null">
        t.stockid = #{stockid}
      </if>
      <if test="insertime != null" >
        AND t.insertime  = #{insertime}
      </if>
    </where>
    ORDER BY  t.insertime DESC

  </select>
</mapper>