<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghprint.cms.serviceDao.TOrderParamsMapper" >
  <resultMap id="BaseResultMap" type="com.ghprint.cms.model.order.TOrderParams" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="materialid" property="materialid" jdbcType="INTEGER" />
    <result column="spellcount" property="spellcount" jdbcType="INTEGER" />
    <result column="proportion" property="proportion" jdbcType="REAL" />
    <result column="height" property="height" jdbcType="REAL" />
    <result column="thickness" property="thickness" jdbcType="REAL" />
    <result column="materialsum" property="materialsum" jdbcType="REAL" />
    <result column="stocksum" property="stocksum" jdbcType="INTEGER" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, productid, materialid, spellcount, proportion, height, thickness, materialsum, 
    stocksum, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghprint.cms.model.order.TOrderParamsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order_params
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order_params
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghprint.cms.model.order.TOrderParamsExample" >
    delete from t_order_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghprint.cms.model.order.TOrderParams" >
    insert into t_order_params (id, productid, materialid, 
      spellcount, proportion, height, 
      thickness, materialsum, stocksum, 
      note)
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{materialid,jdbcType=INTEGER}, 
      #{spellcount,jdbcType=INTEGER}, #{proportion,jdbcType=REAL}, #{height,jdbcType=REAL}, 
      #{thickness,jdbcType=REAL}, #{materialsum,jdbcType=REAL}, #{stocksum,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ghprint.cms.model.order.TOrderParams" >
    insert into t_order_params
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="materialid != null" >
        materialid,
      </if>
      <if test="spellcount != null" >
        spellcount,
      </if>
      <if test="proportion != null" >
        proportion,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="thickness != null" >
        thickness,
      </if>
      <if test="materialsum != null" >
        materialsum,
      </if>
      <if test="stocksum != null" >
        stocksum,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="materialid != null" >
        #{materialid,jdbcType=INTEGER},
      </if>
      <if test="spellcount != null" >
        #{spellcount,jdbcType=INTEGER},
      </if>
      <if test="proportion != null" >
        #{proportion,jdbcType=REAL},
      </if>
      <if test="height != null" >
        #{height,jdbcType=REAL},
      </if>
      <if test="thickness != null" >
        #{thickness,jdbcType=REAL},
      </if>
      <if test="materialsum != null" >
        #{materialsum,jdbcType=REAL},
      </if>
      <if test="stocksum != null" >
        #{stocksum,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghprint.cms.model.order.TOrderParamsExample" resultType="java.lang.Integer" >
    select count(*) from t_order_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order_params
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null" >
        productid = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.materialid != null" >
        materialid = #{record.materialid,jdbcType=INTEGER},
      </if>
      <if test="record.spellcount != null" >
        spellcount = #{record.spellcount,jdbcType=INTEGER},
      </if>
      <if test="record.proportion != null" >
        proportion = #{record.proportion,jdbcType=REAL},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=REAL},
      </if>
      <if test="record.thickness != null" >
        thickness = #{record.thickness,jdbcType=REAL},
      </if>
      <if test="record.materialsum != null" >
        materialsum = #{record.materialsum,jdbcType=REAL},
      </if>
      <if test="record.stocksum != null" >
        stocksum = #{record.stocksum,jdbcType=INTEGER},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order_params
    set id = #{record.id,jdbcType=INTEGER},
      productid = #{record.productid,jdbcType=INTEGER},
      materialid = #{record.materialid,jdbcType=INTEGER},
      spellcount = #{record.spellcount,jdbcType=INTEGER},
      proportion = #{record.proportion,jdbcType=REAL},
      height = #{record.height,jdbcType=REAL},
      thickness = #{record.thickness,jdbcType=REAL},
      materialsum = #{record.materialsum,jdbcType=REAL},
      stocksum = #{record.stocksum,jdbcType=INTEGER},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghprint.cms.model.order.TOrderParams" >
    update t_order_params
    <set >
      <if test="productid != null" >
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="materialid != null" >
        materialid = #{materialid,jdbcType=INTEGER},
      </if>
      <if test="spellcount != null" >
        spellcount = #{spellcount,jdbcType=INTEGER},
      </if>
      <if test="proportion != null" >
        proportion = #{proportion,jdbcType=REAL},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=REAL},
      </if>
      <if test="thickness != null" >
        thickness = #{thickness,jdbcType=REAL},
      </if>
      <if test="materialsum != null" >
        materialsum = #{materialsum,jdbcType=REAL},
      </if>
      <if test="stocksum != null" >
        stocksum = #{stocksum,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghprint.cms.model.order.TOrderParams" >
    update t_order_params
    set productid = #{productid,jdbcType=INTEGER},
      materialid = #{materialid,jdbcType=INTEGER},
      spellcount = #{spellcount,jdbcType=INTEGER},
      proportion = #{proportion,jdbcType=REAL},
      height = #{height,jdbcType=REAL},
      thickness = #{thickness,jdbcType=REAL},
      materialsum = #{materialsum,jdbcType=REAL},
      stocksum = #{stocksum,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="ResultMap" type="com.ghprint.cms.model.order.OrderParams">
    <id property="oid" column="id" jdbcType="INTEGER"/>
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="stockname" property="stockname" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="REAL" />
    <result column="materialid" property="materialid" jdbcType="INTEGER" />
    <result column="materialsum" property="materialsum" jdbcType="REAL" />
    <result column="stocksum" property="stocksum" jdbcType="REAL" />
    <result column="spellcount" property="spellcount" jdbcType="INTEGER" />
    <result column="proportion" property="proportion" jdbcType="REAL" />
    <result column="height" property="height" jdbcType="REAL" />
    <result column="thickness" property="thickness" jdbcType="REAL" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List_base" >
    t.*,
    c.stockname ,c.color,
    d.provider,d.name,d.specification
  </sql>

  <select id="selectlist" resultMap="ResultMap"  parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List_base"/>
    FROM t_order_params t
    LEFT JOIN  t_production_stock  c
    ON  t.productid = c.id
    LEFT JOIN  t_material_stock d
    ON  t.materialid = d.id
    <where>
      <if test="key != null and key !=''  and value != null and value !=''">
        AND ${key} like CONCAT('%',#{value},'%')
      </if>
    </where>
    ORDER BY t.id
    limit #{pageOffset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="getlistcount" resultType="java.lang.Integer"  parameterType="java.lang.String">
      SELECT
      count(1)
      FROM t_order_params t
      LEFT JOIN  t_production_stock  c
      ON  t.productid = c.id
      LEFT JOIN  t_material_stock d
      ON  t.materialid = d.id
      <where>
        <if test="key != null and key !=''  and value != null and value !=''">
          AND ${key} like CONCAT('%',#{value},'%')
        </if>
      </where>
  </select>

  <select id="getOneitem" resultMap="ResultMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List_base"/>
    FROM t_order_params t
    LEFT JOIN  t_production_stock  c
    ON  t.productid = c.id
    LEFT JOIN  t_material_stock d
    ON  t.materialid = d.id

    <where>
      <if test="id != null">
        and t.id =  #{id,jdbcType=INTEGER}
      </if>
    </where>
  </select>

</mapper>