<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghprint.cms.serviceDao.TSysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ghprint.cms.model.sys.TSysUserRole" >
    <id column="localid" property="localid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    localid, userid, roleid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghprint.cms.model.sys.TSysUserRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_user_role
    where localid = #{localid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_user_role
    where localid = #{localid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghprint.cms.model.sys.TSysUserRoleExample" >
    delete from t_sys_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghprint.cms.model.sys.TSysUserRole" >
    insert into t_sys_user_role (localid, userid, roleid
      )
    values (#{localid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ghprint.cms.model.sys.TSysUserRole" >
    insert into t_sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="localid != null" >
        localid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="localid != null" >
        #{localid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghprint.cms.model.sys.TSysUserRoleExample" resultType="java.lang.Integer" >
    select count(*) from t_sys_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sys_user_role
    <set >
      <if test="record.localid != null" >
        localid = #{record.localid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sys_user_role
    set localid = #{record.localid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=VARCHAR},
      roleid = #{record.roleid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghprint.cms.model.sys.TSysUserRole" >
    update t_sys_user_role
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
    </set>
    where localid = #{localid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghprint.cms.model.sys.TSysUserRole" >
    update t_sys_user_role
    set userid = #{userid,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=VARCHAR}
    where localid = #{localid,jdbcType=INTEGER}
  </update>

</mapper>