<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghprint.cms.serviceDao.TSysRolePrivilegeMapper" >
  <resultMap id="BaseResultMap" type="com.ghprint.cms.model.sys.TSysRolePrivilege" >
    <id column="localid" property="localid" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="privilegeid" property="privilegeid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    localid, roleid, privilegeid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghprint.cms.model.sys.TSysRolePrivilegeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_role_privilege
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_role_privilege
    where localid = #{localid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_role_privilege
    where localid = #{localid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghprint.cms.model.sys.TSysRolePrivilegeExample" >
    delete from t_sys_role_privilege
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghprint.cms.model.sys.TSysRolePrivilege" >
    insert into t_sys_role_privilege (localid, roleid, privilegeid
      )
    values (#{localid,jdbcType=INTEGER}, #{roleid,jdbcType=VARCHAR}, #{privilegeid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ghprint.cms.model.sys.TSysRolePrivilege" >
    insert into t_sys_role_privilege
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="localid != null" >
        localid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="privilegeid != null" >
        privilegeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="localid != null" >
        #{localid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="privilegeid != null" >
        #{privilegeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghprint.cms.model.sys.TSysRolePrivilegeExample" resultType="java.lang.Integer" >
    select count(*) from t_sys_role_privilege
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sys_role_privilege
    <set >
      <if test="record.localid != null" >
        localid = #{record.localid,jdbcType=INTEGER},
      </if>
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.privilegeid != null" >
        privilegeid = #{record.privilegeid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sys_role_privilege
    set localid = #{record.localid,jdbcType=INTEGER},
      roleid = #{record.roleid,jdbcType=VARCHAR},
      privilegeid = #{record.privilegeid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghprint.cms.model.sys.TSysRolePrivilege" >
    update t_sys_role_privilege
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="privilegeid != null" >
        privilegeid = #{privilegeid,jdbcType=VARCHAR},
      </if>
    </set>
    where localid = #{localid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghprint.cms.model.sys.TSysRolePrivilege" >
    update t_sys_role_privilege
    set roleid = #{roleid,jdbcType=VARCHAR},
      privilegeid = #{privilegeid,jdbcType=VARCHAR}
    where localid = #{localid,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMaps" type="com.ghprint.cms.model.sys.RolePrivilegeInfo" >
    <id column="LOCALID" property="localid" jdbcType="INTEGER" />
    <association property="roleInfo" column="ROLEID" javaType="com.ghprint.cms.model.sys.TSysRole" resultMap="ResultMap" />
    <association property="privilegeInfo" column="PRIVILEGEID" javaType="com.ghprint.cms.model.sys.TSysPrivilege" resultMap="PrivilegeResultMap" />
   </resultMap>

  <resultMap id="ResultMap" type="com.ghprint.cms.model.sys.TSysRole" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR"/>
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
    <result column="ROLESTATUS" property="rolestatus" jdbcType="VARCHAR" />
    <result column="ROLEDESC" property="roledesc" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="DATE" />
    <result column="EDITTIME" property="edittime" jdbcType="DATE" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="PrivilegeResultMap" type="com.ghprint.cms.model.sys.TSysPrivilege" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <id column="PRIVILEGEID" property="privilegeid" jdbcType="VARCHAR" />
    <result column="PRIVILEGENAME" property="privilegename" jdbcType="VARCHAR" />
    <result column="PRIVILEGEDESC" property="privilegedesc" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="DATE" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryRoleList" resultMap="BaseResultMaps" parameterType="java.lang.String" >
    select
    p.localid,r.*,i.*
    from T_SYS_ROLE_PRIVILEGE p ,T_SYS_ROLE r,T_SYS_PRIVILEGE i
    where  p.ROLEID = r.ROLEID and p.PRIVILEGEID = i.PRIVILEGEID and
    p.roleid = #{r.roleid}
  </select>
</mapper>