<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghprint.cms.serviceDao.TSysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ghprint.cms.model.sys.TSysRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
    <result column="rolestatus" property="rolestatus" jdbcType="VARCHAR" />
    <result column="roledesc" property="roledesc" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="edittime" property="edittime" jdbcType="DATE" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, roleid, rolename, rolestatus, roledesc, createtime, edittime, grade
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghprint.cms.model.sys.TSysRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghprint.cms.model.sys.TSysRoleExample" >
    delete from t_sys_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghprint.cms.model.sys.TSysRole" >
    insert into t_sys_role (id, roleid, rolename, 
      rolestatus, roledesc, createtime, 
      edittime, grade)
    values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, 
      #{rolestatus,jdbcType=VARCHAR}, #{roledesc,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, 
      #{edittime,jdbcType=DATE}, #{grade,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ghprint.cms.model.sys.TSysRole" >
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="rolestatus != null" >
        rolestatus,
      </if>
      <if test="roledesc != null" >
        roledesc,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
      <if test="grade != null" >
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="rolestatus != null" >
        #{rolestatus,jdbcType=VARCHAR},
      </if>
      <if test="roledesc != null" >
        #{roledesc,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=DATE},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghprint.cms.model.sys.TSysRoleExample" resultType="java.lang.Integer" >
    select count(*) from t_sys_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sys_role
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        rolename = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.rolestatus != null" >
        rolestatus = #{record.rolestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.roledesc != null" >
        roledesc = #{record.roledesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.edittime != null" >
        edittime = #{record.edittime,jdbcType=DATE},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sys_role
    set id = #{record.id,jdbcType=INTEGER},
      roleid = #{record.roleid,jdbcType=VARCHAR},
      rolename = #{record.rolename,jdbcType=VARCHAR},
      rolestatus = #{record.rolestatus,jdbcType=VARCHAR},
      roledesc = #{record.roledesc,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=DATE},
      edittime = #{record.edittime,jdbcType=DATE},
      grade = #{record.grade,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghprint.cms.model.sys.TSysRole" >
    update t_sys_role
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="rolestatus != null" >
        rolestatus = #{rolestatus,jdbcType=VARCHAR},
      </if>
      <if test="roledesc != null" >
        roledesc = #{roledesc,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=DATE},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghprint.cms.model.sys.TSysRole" >
    update t_sys_role
    set roleid = #{roleid,jdbcType=VARCHAR},
      rolename = #{rolename,jdbcType=VARCHAR},
      rolestatus = #{rolestatus,jdbcType=VARCHAR},
      roledesc = #{roledesc,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=DATE},
      edittime = #{edittime,jdbcType=DATE},
      grade = #{grade,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="ResultMap" type="com.ghprint.cms.model.sys.OperateRoleInfo" >
    <id column="LOCALID" property="localid" jdbcType="INTEGER" />
    <association property="operatorInfo" column="id" javaType="com.ghprint.cms.model.sys.TSysUser" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="userid" property="userid" jdbcType="VARCHAR"/>
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="PHONE" property="phone" jdbcType="VARCHAR" />
      <result column="EMAIL" property="email" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="createtime" property="createtime" jdbcType="DATE" />
    </association>
    <association property="roleInfo" column="ID" javaType="com.ghprint.cms.model.sys.TSysRole"  >
      <id column="ID" property="id" jdbcType="INTEGER" />
      <result column="ROLEID" property="roleid" jdbcType="VARCHAR"/>
      <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
      <result column="ROLESTATUS" property="rolestatus" jdbcType="VARCHAR" />
      <result column="ROLEDESC" property="roledesc" jdbcType="VARCHAR" />
      <result column="CREATETIME" property="createtime" jdbcType="DATE" />
      <result column="EDITTIME" property="edittime" jdbcType="DATE" />
      <result column="GRADE" property="grade" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <select id="getRolelist"  parameterType="java.lang.Integer"  resultMap="ResultMap">
     select i.localid,o.*,r.*
    FROM T_SYS_USER_ROLE i,T_SYS_ROLE r,T_SYS_USER o
    where  i.USERID=o.ID
    and i.ROLEID=r.ID
    and r.ROLESTATUS = 1
    and o.ID = #{id}
  </select>


</mapper>